{%- assign posts = paginator.posts | default: site.posts -%}
{% for post in posts %}
  <article>
    Welcome to my website. My name is Hurum. I am a gradute student in physics with an interest in cosmology. I am currently working with Professor Simeon Bird. I am specifically exploring whether wavelet scatter transform can provide better ways for constraining cosmological parameters. Before that, I worked with Professor Daniel Grin at Haverford College throughout my undergradute career. I analyzed time and spatial variation of the fine structure constant.
    {% include meta.html post=post preview=true %}
    {{ post.excerpt }}
    <div class="more"><a href="{{ post.url | relative_url }}">read more</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
